/* Dark theme custom styles */
body {
    background-color: #e9e8fc;
}

.titulo {
    color: #474747;
}

.tema i {
    color: #474747;
}

.cambiarTema {
    color: #474747;
}

.buscar {
    background-color: white;
    box-shadow: 3px 2px 5px 2px lightgray;
}

::placeholder {
    color: #474747; 
}

.formInput {
    color: #474747; 
}

.formIcon {
    color: #0078fe;
}

.resultado {
    background-color: white;
    box-shadow: 3px 2px 5px 2px lightgray;
}

.nombre, .unido {
    color: #474747;
}

.bio {
    color: #474747;
}

.stats {
    background-color: #e9e8fc;
}

.stats > * {
    color: #474747;
}

.link {
    color: #474747;
}

.link i {
    color: #474747;
}